configuration{
    modi: ["drun", "run"];
    icon-theme: "Papirus-Dark";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    sidebar-mode: false;
    display-drun: " ";
    display-run: " ";
    display-window: " ";
}
@theme "/home/zayaan/.config/rofi/tokyonight.rasi"
