* {
  border: none;
  font-family: Jetbrains Mono Nerd Font, sans-serif;
  font-size: 14px;
}

window#waybar {
  background-color: #12151d;
  border-bottom: 3px solid #1e222a;
  color: #abb2bf;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces,
#clock,
#battery,
#network{
  background-color: #1e222a;
  padding: 0 10px;
  margin: 5px 4px 5px 4px;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 90px;
  background-clip: padding-box;
}

#workspaces button {
  padding: 0 5px;
  min-width: 20px;
  color: #61afef;
}

#workspaces button:hover {
  background-color: rgba(0, 0, 0, 0.2)
}

#workspaces button.focused {
  color: #c678dd;
}

#workspaces button.urgent {
  color: #e06c75;
}

#clock {
  color: #61afef;
}

#idle_inhibitor {
  color: #abb2bf;
}

#idle_inhibitor.activated {
  background-color: #abb2bf;
  color: #1e222a;
}

#battery {
  color: #98c379;
}

#battery.charging, #battery.plugged {
  background-color: #98c379;
  color: #1e222a;
}

@keyframes blink {
    to {
        background-color: #1e222a;
        color: #e06c75;
    }
}

#battery.critical:not(.charging) {
    background-color: #e06c75;
    color: #1e222a;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    color: #c678dd
}

#network.disconnected {
    background-color: #e06c75;
    color: #1e222a;
}
