[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = zayaanazam1234@hotmail.com
	name = CmrCrabs
[init]
	defaultBranch = main
