
window {
    background: rgba(255, 255, 255, 0);
    color: #FFFFFF;
}

tooltip {
    background: rgba(255, 255, 255, 0);
}

tooltip label {
  color: white;
  padding: 2em;
}
#taskbar {
  background: rgba(0,0,0,0);
  border-radius: 1em;
  padding: 10px;
  margin: 0.5em;
}

#taskbar button.active{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1em;
}

#taskbar button:hover{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1em;
}
